body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.resultados {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
    text-align: center;
}
.content-left,
.content-right {
    text-align: left;
    max-width: 40%;
    align-items: self-start; 
    min-height: 200px; 
}


h1{
    text-align: center;
}

.content-text {
    font-size: 16px;
    font-family: 'Arial', sans-serif; 
}



h1{
    text-align: center;
    color: #333;

}

h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    padding: 10px;
    margin-right: 10px;
    display: block; 
    margin: 10px auto; 
    padding: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block; 
    margin: 10px auto; 
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: #fff;
}
