body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

#resultado {
    margin-top: 20px;
}

pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

table {
    margin-top: 20px;
    position: relative;
}

.table-container {
    max-height: 500px;
    overflow-x: auto;
    overflow: auto;
    position: relative;
}

th {
    background-color: #f8f9fa;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 8px; 
    font-size: small;
    width: 80px; 
}

th, td {
    padding: 5px; 
    border: 1px solid #dee2e6;
    text-align: center;
    font-size: smaller;
    width: 80px; 
}

button.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

button.btn-primary:hover {
    background-color: #218838;
    border-color: #218838;
}

.procesando {
    background-color: orange;
    color: #28a745;
}

th:first-child, td:first-child {
    position: -webkit-sticky;
    position: sticky;
    background-color: #fff;
    z-index: 2;
}

td:first-child {
    left: 0;
    z-index: 1;
}

th:first-child {
    left: 0;
    box-shadow: 5px 0 5px -5px #333;
}
